@import './../../design/styles/common/global.styl';

:root {
  --series-count-background-color: #678696;
}

.thumbnail {
  cursor: pointer;
  margin: 0 auto 1rem;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--ui-border-color-dark);
  position: relative;
  overflow: hidden;

  .series-description {
    color: var(--text-primary-color);
    position: absolute;
    z-index: 1;
    font-size: 11px;
    width: 100%;
    background-color: rgba(60, 60, 60, 0.4);
    text-align: center;
    top: 0;
    left: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 2px;
  }

  .alt-image-text {
    align-items: center;
    justify-content: center;
    background-color: var(--primary-background-color);
    height: 92px;
    margin: 0 auto;
    position: relative;
    transition: var(--sidebar-transition);
    display: flex;
    overflow: hidden;
    color: var(--text-primary-color);

    h1 {
      text-align: center;
      color: var(--text-primary-color);
      font-size: 24px;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .series-details {
    display: flex;
    flex-direction: column;
    color: var(--text-primary-color);
    font-size: 11px;
    background-color: rgba(60, 60, 60, 0.4);
    width: 100%;
    position: absolute;
    word-wrap: break-word;
    z-index: 1;
    bottom: 0;
    left: 0;
    padding: 0 2px;
  }

  .series-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .item-series.image-frames .icon {
      background-color: var(--series-count-background-color);
      margin-top: 6px;
      position: relative;

      &:after {
        content: '';
        background-color: var(--active-color);
        box-shadow: 1px 1px rgba(0, 0, 0, 0.115);
        left: -4px;
        position: absolute;
        top: -4px;
      }

      &, &:after {
        content: '';
        border: 0px solid var(--series-count-background-color);
        display: inline-block;
        height: 6px;
        width: 6px;
      }
    }

    .value {
      color: var(--text-secondary-color);
      display: inline-block;
      font-size: 11px;
      margin-left: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
    }

    .icon {
      color: var(--active-color);
      display: inline-block;
      font-size: 10px;
      font-weight: 900;
      text-align: right;
      width: 11px;
    }
  }

  &.active_item {
    box-shadow: none;
    border: 1px solid var(--app-primary-color);
  }
}
