.sub-label
  .title
    display flex
    cursor pointer
    .collapse-icon
      font-size 16px
      color: #fff
    .title-text
      padding: 0 8px
      line-height normal
  .radio-list
    margin-left 25px
    .radio
      display block
      width: 100%
      color var(--default-color)
      display block
      margin: 0;
