.label-section {
  .tools-comment {
    background: var(--primary-background-color);
    width: 100%;
    border-radius: var(--box-radius);
    padding: 10px;
    outline: none;
    color: var(--default-color);
    overflow: auto;
    border: none;

    &:focus {
      border-color: #fff;
      box-shadow: 0 0 0 1px #53555a;
    }
  }
}
